<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Success</title>
    <style>body, html{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(215, 200, 252), rgba(230, 193, 125, 0.5));

}</style>



</head>



<body>

<h3 style="color: green; text-align: center;">Registration submitted successfully!!!!!!</h3>


<nav>
    <ul>
        <li>
            <a href="../Home.html">Home</a>
        </li>
        <li>
            <a href="./Drivers.html "> Drivers </a>
        </li>

        <li>
            <a href="./Truck_Driver_Page.html "> Trucks </a>
        </li>

        <li>
            <a href="./Registration Form.html "> Back to Registration Form </a>
        </li>



    </ul>

</nav>



<img src="../images/home-iso.svg" style="margin-left:300px; margin-top:-100px; height:700px;">

</body>

</html>